
<div class="su-wrapper">

  {{page-header}}

  <div class="su-lane-primary">
    <section class="su-lane-primary__splash">

      {{project-spinner}}

      <div class="su-component su-timeline">

        <header>
          <h2>Project timeline</h2>
        </header>

        <ul class="su-timeline-list">
          <li class="su-timeline-list__entry">

          </li>
        </ul>

      </div>

    </section>
    <section class="su-lane-primary__content">

      {{latest}}
      {{project-grid}}

    </section>
  </div>

  {{page-footer}}
</div>
