<div class="su-nav__secondary-tile">

  <a href="{{url}}" class="su-nav__secondary-tile-link tile-background--blog {{#if long}}su-nav__secondary-tile-link--long{{/if}}"
     title="{{title}}"
     target="{{target}}"
     rel="{{rel}}">

    <div class="su-nav__secondary-tile-content tile-background">
      <span class="title">{{title}}</span>
      <span class="divider"></span>
    </div>

    <span class="su-nav__shard"></span>
    <span class="su-nav__shard"></span>
    <span class="su-nav__shard"></span>
    <span class="su-nav__shard"></span>
    <span class="su-nav__shard"></span>
    <span class="su-nav__shard"></span>

  </a>

</div>
